::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #414141;
    border-radius: 4.5px;
}

::-webkit-scrollbar-thumb {
    background: #818181;
    border-radius: 4.5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
    width: 15px;
}

body {
    overflow-x: hidden;
    background-color: #222322;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.flex-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.flex-sta {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
}

.social-sym {
    color: #8d8d8d;
    font-size: 22px;
    padding: 8px;
    margin: 0px 2px;
}

.cbrown {
    color: #31170a;
}

.corange {
    color: rgb(236, 162, 37);
}

.cwhite1 {
    color: #f3f3f3;
}

.cwhite2 {
    color: #e3e3e3;
}

.cwhite3 {
    color: #d3d3d3;
}

.cwhite4 {
    color: #c3c3c3;
}

.cwhite5 {
    color: #b3b3b3;
}

.cwhite6 {
    color: #a3a3a3;
}

.content-h1 {
    font-size: 8vh;
    font-weight: 600;
    padding: 6px 0px;
    cursor: default;
}

.content-h2 {
    font-size: 5vh;
    font-weight: 400;
    padding: 6px 0px;
}

.content-h3 {
    font-size: 4vh;
    font-weight: 400;
    padding: 6px 0px;
}

.content-p {
    font-size: 3vh;
    font-weight: 300;
    padding: 6px 0px;
}

.wrd-wrap {
    word-break: break-all;
}

.thic-lin {
    font-weight: 900;
    transform: translateY(-8%);
}

.teleft {
    text-align: left;
}

.teright {
    text-align: right;
}

.tecenter {
    text-align: center;
}


/*loading*/

.div-loading {
    padding: 3% 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-x: hidden;
}

.loading-lg {
    border-radius: 50%;
    background-color: rgb(236, 162, 37);
    position: relative;
    width: 60vh;
    height: 60vh;
}

.loading-lg img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#spoon_left {
    animation: ani-spn-lft 1.5s ease-in-out 1 forwards;
}

@keyframes ani-spn-lft {
    0% {
        transform: translateX(-75%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#spoon_right {
    animation: ani-spn-rit 1.5s ease-in-out 1 forwards;
}

@keyframes ani-spn-rit {
    0% {
        transform: translateX(75%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#star_1 {
    transform: translate(18.5%, -42%);
}

#star_2 {
    transform: translate(9%, -48%);
}

#star_3 {
    transform: translate(0%, -52%);
}

#star_4 {
    transform: translate(-9%, -48%);
}

#star_5 {
    transform: translate(-18.5%, -42%);
}

.star-img {
    opacity: 0;
    animation: star-ani 1s ease-in 1.5s 1 forwards;
}

@keyframes star-ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

#night_cap {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fade-in 1s ease 2s 1 forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.div-hr-loc {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: wrap;
}

.hr-p1 {
    text-align: right;
    width: 40vw;
    padding: 2px 10px;
    border-right: #eca225 solid 6px;
    transform: translateX(3px);
}

.adrrs {
    text-align: center;
    padding: 2px 10px;
}

.loc-p1 {
    text-align: left;
    width: 40vw;
    padding: 2px 10px;
}


/*nav-link-menus*/

.nav-links {
    margin: 25px 3%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: wrap;
}

.nav-clicks {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 350px;
    height: 120px;
    margin: 20px 40px;
}

.nav-clicks .nav-cirl {
    border: 5px solid transparent;
    border-top: 5px solid #eca225;
    border-left: 5px solid #eca225;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    transform: rotateZ(-75deg);
    z-index: 200;
}

.nav-clicks .nav-cirl div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #222322;
    border: solid 3px #f1f1f1;
}

.nav-clicks .nav-text {
    width: 220px;
    height: 80px;
    z-index: -10;
}

.nav-clicks .nav-text div {
    width: 300px;
    height: 80px;
    border-radius: 15px;
    background-color: #222322;
    border: solid 3px #f1f1f1;
    background-color: #eca225;
    transform: translateX(-80px);
    z-index: -10;
}

.nav-clicks .nav-text h1 {
    font-size: 35px;
    transform: translateX(25px);
    font-weight: 600;
    color: #31170a;
}


/*image view*/

.div-img-view {
    margin: 25px 0px;
    height: 60vh;
    width: 100%;
    background-image: url('images/l1.png');
    background-attachment: fixed;
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat
}


/*slide style*/

.slideshow-feed {
    width: 100%;
    min-height: 200px;
    position: relative;
}

.tex-spac {
    padding: 8%;
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.mySlides {
    position: static;
    width: 100%;
    height: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: #f1f1f1;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #919191;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f1f1f1;
}


/* Fading animation */

.trans-in {
    -webkit-animation-name: trans-in;
    -webkit-animation-duration: 1s;
    animation-name: trans-in;
    animation-duration: 1s;
}

@-webkit-keyframes trans-in {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes trans-in {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/*feedback style*/

.flex-spa-eve {
    justify-content: space-evenly;
}

.half-side-width {
    width: 45% !important;
    margin: 25px 0px;
}

.form {
    color: #f3f3f3;
    background-color: #313131;
    padding: 12px;
    border: 0px solid #ccc;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 100%;
    resize: vertical;
}

#fname {
    width: 48%;
}

#fmail {
    float: right;
    width: 48%;
}

input[type=submit] {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    color: #f3f3f3;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

 ::placeholder {
    color: #a3a3a3;
    opacity: 1;
    font-size: 16px;
}

 :-ms-input-placeholder {
    color: #a3a3a3;
    font-size: 16px;
}

 ::-ms-input-placeholder {
    color: #a3a3a3;
    font-size: 16px;
}


/*button style*/

.button {
    color: #f3f3f3;
    position: relative;
    width: 200px;
    height: 50px;
    overflow: hidden;
    border: 2px solid #eca225;
    overflow: hidden;
    transition: all 0.5s;
}

.layer-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 0px;
    background-color: #eca225;
    transition: all 0.5s;
}

.layer-2 {
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 50px;
    height: 0px;
    background-color: #eca225;
    transition: all 0.5s;
    transition-delay: 0.125s;
}

.layer-3 {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 50px;
    height: 0px;
    background-color: #eca225;
    transition: all 0.5s;
    transition-delay: 0.25s;
}

.layer-4 {
    position: absolute;
    bottom: 0px;
    left: 150px;
    width: 50px;
    height: 0px;
    background-color: #eca225;
    transition: all 0.5s;
}

.button:hover .layer-1,
.button:hover .layer-2,
.button:hover .layer-3,
.button:hover .layer-4 {
    height: 50px;
}

.button:hover input[type=submit] {
    color: #31170a;
}

a {
    cursor: pointer;
}

.button a {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}


/*partners style*/

.patn-det {
    margin: 4vh 2vw;
}

.pant-fle {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.patn-det .pat-sin {
    margin: 25px;
}

.patn-det .pat-img {
    margin: 15px 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #eca225 solid 4px;
    overflow: hidden;
}

.patn-det .pat-img img {
    width: 100%;
    height: 100%;
}


/*slide-in animation on scroll*/

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


/*contact style*/

.conct {
    width: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.con-lis {
    padding-left: 30px;
}

.social-sym {
    font-size: 26px;
    padding: 8px;
    margin: 4px;
}

.social-sym:hover {
    color: #eca225;
}

#night-map {
    width: 100%;
}

.g-map {
    width: 90%;
    height: 350px;
}

#madeby {
    text-align: center;
    font-size: 12px;
}

#madeby a {
    color: white;
    text-decoration: none;
}

a[href^=tel] {
    color: #f3f3f3;
    text-decoration: none;
}

@media only screen and (min-width: 0px) and (max-width: 290px) {
    .content-h1 {
        font-size: 18px;
    }
    .content-h2 {
        font-size: 16px;
    }
    .content-h3 {
        font-size: 15px;
    }
    .content-p {
        font-size: 15px;
    }
    .con-lis {
        padding-left: 8px;
    }
    #fname {
        width: 100%;
    }
    #fmail {
        float: left;
        width: 100%;
    }
    .button {
        width: 180px;
        height: 40px;
    }
    .g-map {
        width: 90%;
        height: 250px;
    }
}

@media only screen and (min-width: 291px) and (max-width: 420px) {
    .content-h1 {
        font-size: 18px;
    }
    .content-h2 {
        font-size: 22px;
    }
    .content-h3 {
        font-size: 18px;
    }
    .content-p {
        font-size: 16px;
    }
    .con-lis {
        padding-left: 8px;
    }
    #fname {
        width: 100%;
    }
    #fmail {
        float: left;
        width: 100%;
    }
    .button {
        width: 180px;
        height: 40px;
    }
    .g-map {
        width: 90%;
        height: 250px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 575px) {
    .content-h1 {
        font-size: 28px;
    }
    .content-h2 {
        font-size: 22px;
    }
    .content-h3 {
        font-size: 18px;
    }
    .content-p {
        font-size: 16px;
    }
    .con-lis {
        padding-left: 12px;
    }
    #fname {
        width: 100%;
    }
    #fmail {
        float: left;
        width: 100%;
    }
    .button {
        width: 180px;
        height: 40px;
    }
    .g-map {
        width: 90%;
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .nav-clicks {
        margin: 0px;
        transform: scale(0.8);
    }
    .loading-lg {
        width: 60vmin;
        height: 60vmin;
    }
}

@media only screen and (max-width: 768px) {
    .div-hr-loc {
        flex-direction: column;
    }
    .hr-p1 {
        text-align: center;
        width: auto;
        padding: 0.5vh 12px;
        border-bottom: #eca225 solid 6px;
        border-right: none;
        transform: translateX(0px);
    }
    .loc-p1 {
        text-align: center;
        width: auto;
        padding: 0.5vh 0px;
    }
    .nav-clicks {
        margin: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .mq-fx-col {
        flex-direction: column;
    }
    .half-side-width {
        width: 85% !important;
        margin: 20px 0px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-clicks {
        margin: 0px;
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 425px) {
    .slideshow-feed {
        min-height: auto;
    }
}

@media only screen and (max-width: 300px) {
    .nav-clicks {
        margin: 0px;
        transform: scale(0.65);
    }
}

@media only screen and (max-width: 250px) {
    .nav-clicks {
        margin: 0px;
        transform: scale(0.5);
    }
    .patn-det {
        margin: 2vh 0px;
    }
    .patn-det .pat-sin {
        margin: 0px;
    }
    .patn-det .pat-img {
        transform: scale(0.8);
    }
}

@media screen and (orientation:portrait) {
    .div-img-view {
        background-image: url('images/p1.png');
    }
}

@supports (-webkit-touch-callout: none) {
    .div-img-view {
        background-attachment: scroll;
        background-image: url('images/p1.png');
    }
}